<div  *ngIf="tasks[activeId]" class="text-center">
  <h1>
    Опрос
  </h1>
  <div class="row" >
    <div class="col-sm-12 text-right">
      <p>Потрачено времени:</p> {{tasks[activeId].min}}:{{tasks[activeId].sec}}
    </div>
  </div>
  <div>
    <img [@fadeInOut] src='{{tasks[activeId].id}}' alt="{{tasks[activeId].id}}">
    <div class="row">
      <div class="col-sm-12 text-center">
        <a href="#" [class.show-href]="show"
           (click)="prevItem()"
        >Предыдущий вопрос</a>
        <input type="text" placeholder="Введите ответ"  [class.show-tasks]="showTasks" [(ngModel)]="tasks[activeId].answer">
        <a href="#" [class.show-href]="showNext"
           (click)="nextItem()"
        >Следующий вопрос</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <button type="submit" (click)="answeredTask()" [class.show-tasks]="showTasks">Отправить</button>
    </div>
  </div>
</div>

<div *ngIf="!tasks[activeId]" class="text-center">
  <h1>Поздравляем! Вы прошли опрос.</h1>
</div>
